body {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 6em;
  text-align: center;
}
nav {
  font-size: 1.5em;
}

ul,
li {
  display: inline;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: indigo;
  padding: 1em 2em;
}

a {
  color: deeppink;
}

ul {
  flex-grow: 1;
  max-width: 50%;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 768px) {
  nav,
  ul {
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: 4em;
  }
}
