img {
  width: 30%;
  margin: calc(10% / 6) 0px;
}

nav {
  margin-left: calc(10% / 6);
  font-family: "Montserrat";
  font-weight: 700;
  width: 30%;
}

section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}
