body {
  background-color: #041c32;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #7900ff;
  color: #7900ff;
  padding: 1em 2em;
  transition: 0.25s;
}

button:hover {
  color: white;
  border-color: magenta;
  box-shadow: 0px 0.5em 0.5em -0.4em #ea99d5;
  transform: translateY(-0.3em);
  cursor: pointer;
}
