button {
  background-color: #3347ff;
  color: white;
  font-weight: bold;
  border: none;
  width: 80px;
  height: 30px;
  border-radius: 10px;
  font-size: 14px;
}

button:hover {
  background-color: #2635c0;
  width: 70px;
  height: 28px;
  font-size: 12px;
}

div {
  width: 210px;
  border: 1px gray solid;
  border-radius: 5px;
  text-align: center;
  padding: 50px;
}

img {
  height: 200px;
  width: 200px;
  border: 1px rgb(236, 183, 191) solid;
  border-radius: 50%;
}
